.line {
    background-image: url(./images/tube-line-icon.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 5px 0 5px 32px;
}
.central {
    background-color: red;
    color: #fff;
}
.piccadilly {
    background-color: #0009ac;
    color: #fff;
}
.metropolitan {
    background-color: #750857;
    color: #fff;
}
.circle {
   background-color: #ffcf00;
}
.district {
    background-color: #007325;
    color: #fff;
}
.hammersmith-city {
    background-color: #d898b0;
}
.northern {
    background-color: #000;
    color: #fff;
}
.victoria {
    background-color: #009ee5;
}

.line-header {
    padding-left: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 560px;
    margin: 70px auto;
}

h1 {
    margin-bottom: 45px;
    text-align: center;
    border-bottom: 3px solid lightgrey;
}
h2 {
    margin-bottom: 14px;
}

table {
    margin-bottom: 60px;
}

th {
    text-align: left;
    padding-left: 32px;
}

td {
    padding-left: 32px;
    width: 155px;
}